*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-size: inherit; font-weight: 400;}

body{
    font-family: "DM Sans";
    color: #242424;
    font-size: 20px;
    font-weight: 500;
    background: #FCFBFF;
}
/*.................................................................*/
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*.................................................................*/
._container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*.......ШАПКА..........................................................*/
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; 
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 100px;
    align-items: center;
}
@media (max-width: 479px) {
    .header__container{
        min-height: 65px;
    } 
}
.header__logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #244D4D;
}
.header__menu {
    margin-left: 217px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width: 790px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}


@media (max-width: 739px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    margin-left: 50px;
}
.menu__item:not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(21/16 * 100%);
    color: #161616;
}
.menu__link:hover{
    text-decoration: underline;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 20px;
    }
}

/*.......PAGE..........................................................*/
.page {
    flex: 1 1 auto;
}
.page__main-block {
}
.page__trust {
}
.page__about {
}
.page__popular {
}
.page__furniture {
}
.page__customers {
}
.page__register {
}
/* ...........HEADER-BLOCK..........................................*/
.header-block {
}
.header-block__title {
    font-weight: 700;
    font-size: 32px;
    color: #244D4D;
    line-height: 131%;
}

/*.......MAIN-BLOCK..........................................................*/

.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    display: flex;
    align-items: flex-start;
    padding: 101px 0px 140px 0px;
}
.main-block__image {
    flex: 0 0 34.25%;
    width: 411px;
    height: 560px;
    object-fit: cover;
}

.main-block__content {
    flex: 0 1 65.75%;
    background: #154444;
    z-index: 2;
    min-width: 653px;
    height: 560px;
    padding: 101px 0px 0px 100px;

}
@media (max-width: 1020px) {
    .main-block__content{
        padding: 101px 0px 0px 50px;
    }   
}

.main-block__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 56px;
    line-height: 121%;
    color: #FFF;
    padding: 0px 0px 20px 0px;
}
.main-block__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #FFFFFF;
    max-width: 488px;
}
.main-block__text:not(:last-child){
    padding: 0px 0px 35px 0px;
}

.main-block__button {
    background: #FFFFFF;
    min-height: 56px;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #154444;
    transition: all 0.3s ease 0s;
}
.main-block__button:hover{
    background-color: #0e2f2f;
    color: #FFF;
}
@media (max-width: 950px){
    .main-block__body{
        flex-direction: column;
    }
    .main-block__image {
        position: absolute;
        width: 100%;
    }
    .main-block__content {
        position: relative;
        width: 100%; 
        padding-bottom: 50px;
        margin-top: 560px;
    }
    .main-block__title {
        font-size: 35px;
    }
    .main-block__text{
        font-size: 15px;
    }
}   
@media (max-width: 566px){
    .main-block__body{
       margin: 20px 0px 0px 0px;
    }
    .main-block__title {
        font-size: 15px;
    }
    .main-block__text{
        font-size: 10px;
        width: 250px;
    }
    .main-block__content{
        padding: 60px 0px 60px 10px;
    }
}
   
/*.......TRUST..........................................................*/

.trust {
    padding: 0px 0px 140px 0px;
}
.trust__container {
}
.trust__header {
    margin: 0px 0px 40px 0px;
    text-align: center;
}

.trust__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.trust__item {
    padding: 8px 10px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 67px;
}
.trust__item img{
    max-width: 100%;
}
@media (max-width: 767px){
    .clients {
        padding: 0px 0px 70px 0px;
    }
    .trust__header {
        margin: 0px 0px 20px 0px;
    }
}

/*.......ABOUT..........................................................*/
.about {
    padding: 0px 0px 140px 0px;
}
.about__container {
}
.about__body {
    display: flex;
    align-items: flex-start;
}
.about__image {
    flex: 0 0 54%;
    position: relative;
    padding: 0px 0px 49.666% 0px;
    background: #DEE4E2;
    width: 100%;
    height: 100%;
    
}
.about__image img{
    position: absolute;
    max-width: 596px;
    max-height: 577px;
    top: -35px;
    left: 0;
    object-fit: cover;
}  


.about__content {
    flex: 1 1 auto;
    padding: 47px 0px 0px 100px;
}
.about__header .header-block__title {
    line-height: 125%;
    font-family: 'Montserrat';

}
.about__header:not(:last-child) {
    margin: 0px 0px 20px 0px;
} 
.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #444444;
}

.about__top:not(:last-child) {
    margin: 0px 0px 40px 0px;

}

.about__items {
}
.about__item {
}
.about__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.item-about {
    display: flex;
}
.item-about__icon {
}
.item-about__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
}
.item-about__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #244D4D;
}
.item-about__title:not(:last-child) {
    margin: 0px 0px 14px 0px;
}
.item-about__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #383738;
    white-space: wrap;
    text-overflow: ellipsis;
    width: 306px;
}

@media (max-width: 1080px){
    .about__content {
        padding: 0px 0px 0px 80px;
    }
}
@media (max-width: 1020px){
    .about {
        padding: 0px 0px 60px 0px;
    }
    .about__content {
        padding: 0px 0px 0px 0px;
    }
    .about__image {
        padding: 0px 0px 60% 0px; 
    }
    .about__image:not(:last-child) {
        margin: 0px 0px 50px 0px;
    }
    .about__image img {
        object-fit: contain;
    }
    .about__body{
        flex-direction: column;
        align-items: stretch;
    }
}
@media (max-width: 870px){
    .about {
        padding: 0px 0px 40px 0px;
    }
    .about__image:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
}
/*.............POPULAR...................................................*/
/* Адаптив не сделан до конца! разобраться с изображениями!!!!!!!! */
.popular {
    padding: 0px 0px 140px 0px;
}
@media (max-width: 992px) {
    .popular {
    padding: 0px 0px 80px 0px;
    }
}
@media (max-width: 767px) {
    .popular {
    padding: 0px 0px 40px 0px;
    }
}
.popular__container {
}
._container {
}
.popular__header {
    margin: 0px 0px 80px 0px;
}
@media (max-width: 767px) {
    .popular__header {
    margin: 0px 0px 40px 0px;
    }
}
.popular__header .header-block {
}
.popular__header .header-block__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 162%;
    color: #242424;
}
.header-block__title:not(:last-child) {
    padding: 0px 0px 20px 0px;
} 
.header-block__subtitle {
    line-height: 135%;
    color: #383738;
    max-width: 819px;
}
.popular__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.popular__column {
    flex: 0 1 33.333%;
    padding: 0 15px;
    margin: 0px 0px 20px 0px;
}

@media (max-width: 1230px) {
    .popular__column{
        flex: 0 1 50%;
    }
}

@media (max-width: 823px) {
    .popular__column{
        flex: 0 1 100%;
    }
}

.popular__item {
    background-color: #FFF;
    max-width: 380px;  
}
.item-popular {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-popular__image {
   display: block;
   object-fit: scale-down;
}
.item-popular__image img{
    width: 100%;
    height: auto;
}

.item-popular__content {
    flex:  1 1 auto; 
}
.content-body {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 26px;
}
.content__column {
    flex: 0 1 auto; 
}
.column__item {

} 
.item-column {
}
.item-column:not(:last-child) {
}
.item-column__title {
    line-height: 135%;
    color: #242424;
}
.item-column__title:not(:last-child) {
    padding: 0px 0px 20px 0px;
}

.item-column__price {
    font-size: 24px;
    line-height: 129%;
    color: #154444;
}
.item-column__buttons {
   padding: 0px 0px 20px 20px;
   align-self: flex-end;
}
.item-column_button {
}
.b_like {
}
.b_main {
}
.item-column__button {
    background: #244D4D;
    min-height: 32px;
}
.buy_b {
    font-size: 12px;
    line-height: 175%;
    color: #FFFFFF;
    padding: 5px 14px;
}
@media (max-width: 823px) {
    .popular__column{
        flex: 0 1 100%;
    }
}

@media (max-width: 335px) {
    .header-block__subtitle {
        font-size: 15px;
    }
    .item-column__title {
        font-size: 15px;
    }
    .item-column__price {
        font-size: 15px;
    }

}
/*........FURNITURE......................................*/

.furniture {
    padding: 0px 0px 140px 0px;
}
.furniture__container {
}

.furniture__header {
}
.header-block {
    margin: 0px 0px 80px 0px;
}
.furniture__header .header-block__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #242424;
    padding: 0px 0px 20px 0px;
    text-align: center;
}
.header-block__menu {
}
.menu-furniture {
    padding: 5px 0;
}
.menu-furniture__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-furniture__item {
    margin-left: 45px;
}
.menu-furniture__item:not(:last-child) {
    margin-right: 45px;
}
.menu-furniture__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 112%;
    color: #919090;
    position: relative;
}
.active-link{
    font-weight: 500;
    color: #154444;
   
}
.active-link::after{
    content: '';
    width: 57.02px;
    height: 2.3px;
    background: #154444;
    position: absolute;
    left: 48.31px;
    top: 33.02px;
}
.menu-furniture__link:hover{
    font-weight: 500;
    color: #154444;
}
.menu-furniture__link:hover::after{
    content: '';
    width: 57.02px;
    height: 2.3px;
    background: #154444;
    position: absolute;
    left: 48.31px;
    top: 33.02px;
}
.furniture__body {
    display: flex;
    align-items: flex-start;
}
.furniture__image {
    position: relative;
    flex: 0 0 46%;
    margin: 0px 0px 0px 12px;
    z-index: 50;
}
.furniture__image img{
    position: absolute;
    /*width: 553px;
    height: 389px; */
    width: 100%;
    height: auto;
    object-fit: cover;
}
.furniture__image::before{
    content: '';
    position: absolute;
    width: 190px;
    height: 86px;
    left: 375px;
    top: 315px;
    background: #154444;
    display: block;
}
.furniture__image::after{
    content: '';
    position: absolute;
    width: 190px;
    height: 86px;
    left: -12px;
    top: -12px;
    background: #154444;
    display: block; 
    z-index: -1;
}

.furniture__content {
    flex: 1 1 auto;
    padding: 30px 0px 0px 115px;
}
.menu-content {
}
.menu-content__list {
    display: flex;
    flex-wrap: wrap;
}
.menu-content__item {
    margin: 0px 0px 30px 30px;
    border: 1.5px solid #D9DCE5;
    max-height: 90px;
    width: 222px;
    text-align: center;
   padding: 16px 0px;
    
}
.menu-content__link {
}
.active-item{
    background: #154444;
    width: 222px;
    max-height: 90px;
    border: 1.5px solid #154444;
}
.link-content {
}
.link-content__image {
   margin: 0px 0px 14px 0px;
}
.link-content__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    color: #808080;
}
.active-item .link-content__text {
    color: #FFFFFF;
}
@media (max-width: 1200px) {
    .furniture__content {
        padding: 30px 0px 0px 50px;
    }
}
@media (max-width: 1100px) {
    .furniture__image::before{
        left: 315px;
        top: 275px;
    }
    .furniture__content {
        padding: 30px 0px 0px 10px;
    }
}
@media (max-width: 992px){
    .furniture {
        padding: 0px 0px 40px 0px;
    }
    .furniture__content {
        padding: 0px 0px 0px 0px;
    }
    .furniture__image {
        padding: 0px 0px 46% 0px; 
    }
    .furniture__image:not(:last-child) {
        margin: 0px 0px 260px 0px;
    }
    .furniture__image img {
        object-fit: cover;
    }
    .furniture__body {
        flex-direction: column;
        align-items: stretch;
    }
    .furniture__image::before{
        left: 0;
        top: 0;
    }
    .furniture__image::after{
        left: 0;
        top: 0;
    }
    .menu-content__list{
        justify-content: space-between;
    }
    .furniture__header {
        margin: 50px;
    }
}
@media (max-width: 873px){
    .furniture__header {
        margin: 30px;
    }
    .menu-furniture__link{
        font-size: 16px;
    }
    .menu-furniture__link::after{
        left: 28px;
        top: 25px;
    }
}
@media (max-width: 660px){
    .menu-furniture__item {
        margin-left: 20px;
    }
    .menu-furniture__item:not(:last-child) {
        margin-right: 20px;
    }
    .furniture__image:not(:last-child) {
        margin: 0px 0px 200px 0px;
    }
}


@media (max-width: 530px) {
    .menu-furniture__link{
        font-size: 10px;
    }
    .menu-furniture__item {
        margin-left: 10px;
    }
    .menu-furniture__item:not(:last-child) {
        margin-right: 10px;
    }
    .menu-furniture__link::after{
        width: 28px;
        height: 1px;
        left: 20px;
        top: 17px;
    }
    
}
@media (max-width: 320px) {
    .menu-furniture__item {
        margin-left: 2px;
    }
    .menu-furniture__item:not(:last-child) {
        margin-right: 2px;
    }
    .furniture__image:not(:last-child) {
        margin: 0px 0px 100px 0px;
    }
}
/*..............CUSTOMERS...................*/

.customers {
    padding: 0px 0px 140px 0px;
}
.customers__container {
}
.customers__body {
    display: flex;
    align-items: flex-start;
}
.customers__image {
    flex: 0 0 38%;
    position: relative;
    margin: 0px 0px 0px 100px;
    z-index: 50;
}
.customers__image img{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.customers__image::before{
    content: '';
    position: absolute;
    background: #244D4D;
    width: 489px;
    height: 489px;
    border: 2px solid #244D4D;
    border-radius: 50%;
    left: -105px;
    top: 0px;
    display: block;
    z-index: -1;
}

.customers__content {
    flex: 1 1 auto;
    padding: 105px 0px 0px 105px;
}

.customers__top:not(:last-child) {
    margin: 0px 0px 40px 0px;
}
.customers__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}
.customers__title:not(:last-child){
    margin: 0px 0px 20px 0px;
}
.customers__text {
    line-height: 135%;
    color: #383738;
    font-weight: 400;
    max-width: 535px;
}
.customers__items {
    display: flex;
    align-items: flex-start;
}
.customers-item__icon {
    flex: 0 0 15%;
    position: relative;
}
.customers-item__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.customers-item__name {
    flex: 1 1 auto;
    margin: 0px 0px 6px 0px;
   
}
.customers-item__rank {
    display: flex;
}
.rank-customers {
}
.rank-customers__icon {
    flex: 0 1 50%;
}
.rank-customers__value {
    flex: 1 1 50%;
    margin: 0px 0px 0px -15px;
}
@media (max-width: 1030px) {
    .customers__title {
        font-size: 28px;
    }
    .customers__text {
        font-size: 16px;
    }
    .customers__content{
        margin-left: 20px;
    }   
}
@media (max-width: 915px){
    .customers__body {
        flex-direction: column;
    }
    .customers__image {

    }
}
/*..........REGISTER.................................*/

.register {
    margin: 120px 0px 140px 0px;
    background: #F4F6F6;
}
.register__container {
}
.register__body {
    padding: 68px 297.5px 55px 297.5px;
    align-items: center;

}
.register__top{
    margin: 0px 0px 40px 0px;
}
.register__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #222222;
}
.register__title:not(:last-child){
    margin: 0px 0px 20px 0px;
}
.register__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;;
    color: #222222;
    max-width: 505px;
    text-align: center;
    padding-left: 58px;
}
.register__form {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    padding-left: 50px ;
}
.register__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 67px;
}
.register__input:focus{
    color: #000;
}
.register__input::placeholder{
    content: '';
    background: url('/img/register/icon/01.svg') no-repeat;
    padding-left: 45px;
    background-position: 17px 50% ;
}
.register__button {
    position: relative;
    background: #305F64;
    display: flex;
    min-height: 52px;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    padding: 0px 32px; 
    transition: all 0.3sease 0s;
    right: 130px;
}
.register__button:hover{
    background: #21484d;;
}

/*...........FOOTER...............................*/
.footer {
}
.footer__top {
    background: #305F64;
    padding: 85px 0px 40px 0px;
}

}
.footer__main {
}
.footer__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px ;
}
.footer__column {
    padding: 15px 0px;
    flex: 0 1 20%;
}
.footer__column:first-child{
    flex: 0 1 40%;
}
.footer__column:last-child{
   
}
.footer__label {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 121%;    
    color: #FFFFFF;
    margin: 0px 0px 24px 0px;
}
.footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: #FFFFFF;
    max-width: 308px;
    margin: 0px 0px 40px 0px;
}
.footer__social {

}
.social {
}
.social__label {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0px 0px 20px 0px;
}
.social__item:not(:last-child) {
    margin: 0px 10px 0px 0px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
    margin: 0px 0px 16px 0px;
}

.menu-footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #FFFFFF;
    display: inline-block;
}
.menu-footer__link:hover{
    text-decoration: underline;
}
.footer__form {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
}
.footer__input {
    width: 100%;
    flex: 1 1 auto;
    min-height: 48px;
    padding: 0px 22px;
    max-width: 253px;
}
.footer-input__image{
    position: relative;
    left: -40px;
}
.footer__bottom {
    padding: 20px 0px;
    background: #305F64;
    position: relative;
}
.footer__bottom::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 0px;

background: #407980;


}
.footer__container {
   text-align: center;
}
._container {
}
.footer__copy {
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    color: #FFFFFF;
}